/*CATEGORY NEWS*/
#list-news-wp .list-item li{ margin-bottom: 30px;}
#list-news-wp .thumb{
    width: 37%;
    position: relative;
    display: block;
    overflow: hidden;
}
#list-news-wp .thumb:before{
    position: absolute;
    content: '';
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    z-index: 1000;
}
#list-news-wp .list-item li:hover .thumb:before{ left: 100%;}
#list-news-wp .list-item li:hover .title{ color: #0080C8;}
#list-news-wp .info{ 
    width: 63%;
    padding-left: 30px;
}
#list-news-wp .info .title{
    display: block;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 15px;
    color: #222;
}
#list-news-wp .info .create-date{
    display: block;
    position: relative;
    padding: 0px 0px 15px 20px;
    font-size: 13px;
    color: #b1b1b1;
}
#list-news-wp .info .create-date:before{
    position: absolute;
    content: '\f073';
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
}
#list-news-wp .info .desc{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -o-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    max-height: 100%;
    overflow: hidden;
    color: #555;
    text-align: justify;
    line-height: 26px;
    font-size: 15px;
}