/*DETAIL NEWS*/
#detail-news-wp .title{
    font-weight: normal;
    color: #000;
    font-size: 28px;
    padding-bottom: 15px;
}
#detail-news-wp .create-date{
    display: block;
    position: relative;
    padding: 0px 0px 15px 20px;
    font-size: 13px;
    color: #b1b1b1;
}
#detail-news-wp .create-date:before{
    position: absolute;
    content: '\f073';
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
}
#detail-news-wp .detail p{
    color: #333;
    line-height: 28px;
    text-align: justify;
    padding-bottom: 15px;
    font-size: 15px;
}
#detail-news-wp .detail p strong{
    font-family: 'Roboto Condensed Bold';
    font-weight: normal;
}
#detail-news-wp .detail p img{
    display: inline-block;
    border: 1px solid #ddd;
    margin-top: 10px;
}